<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec327.gdevlin.ec327final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity2"
            android:parentActivityName=".Home_screen" />
        <activity
            android:name=".Activity1"
            android:parentActivityName=".Home_screen" />
        <activity
            android:name=".Activity3"
            android:parentActivityName=".Home_screen" />
        <activity android:name=".rpsbackend" />
        <activity android:name=".highscore"></activity>
    </application>

</manifest>